.wrapper{
  width:100%;
  margin:0 auto;
}

.innerBox {
  margin: 10px;
  height: 180px;
  line-height: 180px;
  background-color: grey;
}

.layout{
  width: 100%;
  min-height: 300px;
}

.box{
  float: right;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.a, .c  {
  width: 1/3 *100%;

  @media @device-mobile{
    width: 100%;
  }

  @media @device-tablet{
    width:50%;
  }

  @media @device-large{
    width: 20%;
  }
}

.b{
  width: 1/3 *100%;

  @media @device-mobile{
    width: 100%;
  }

  @media @device-tablet{
    width: 100%;
  }

  @media @device-large{
    width: 60%;
  }
}
